In [7]:
import pandas as pd
pd.read_csv("../user_files/example1.csv")

,Unnamed: 0,line_number,line,is_keyword,length,is_regular_expression,is_mathematical_calculation,is_collection_manipulation,is_string_manipulation,is_bit_manipulation,is_variable_assignment
0,1,0,import pandas as pd,1,19,0,0,0,0,0,0
1,2,3,"print(""hello world"")",0,20,0,0,0,0,0,0