In [1]:
import pandas as pd
pd.read_csv("example.csv")

,Unnamed: 0,line_number,line,isLOI,is_keyword,length,is_regular_expression,is_mathematical_calculation,is_collection_manipulation,is_string_manipulation,is_bit_manipulation,is_variable_assignment
0,1,0,from inline import Here,0,1.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,1,from typing import List,0,1.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,3,"def missingRolls(self, rolls: List[int], mean:...",0,1.0,73.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4,4,m = len(rolls),0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,1.0
4,5,5,curSum = sum(rolls),0,0.0,19.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3477,3478,0,import sys,0,1.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
3478,3479,1,from inline import Here,0,1.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0
3479,3480,3,input_list = sys.argv[1:],0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,1.0
3480,3481,4,"result = list(map(str.split(""$""), input_list))",1,0.0,46.0,0.0,0.0,0.0,0.0,0.0,1.0
3481,3482,7,),0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN